body{
  font-family: "SegoeUI";
}

.text-bold{
  font-weight: bold;
}

.relative{
  position: relative;
}

strong{
  font-family: "SegoeUI-SemiBold";
}

.section-padding{
  padding: 40px 0;
}

.img-responsive{
  width: 100%;
}
