body{
  font-family: "SegoeUI";
  // font-weight: 300 !important;
}

.text-bold{
  font-weight: bold;
}

.relative{
  position: relative;
}

strong{
  font-family: "SegoeUI-SemiBold";
}

.section-padding{
  padding: 40px 0;
}

.img-responsive{
  display: block;
  max-width: 100%;
  height: auto;
}
