<ul class="lang nav navbar-nav navbar-right">
  <li>
    <% link_to '#', class: 'lang__item' do %>
      <%= image_tag 'icons/ico_it.png', alt: 'IT' %>
    <% end %>
  </li>
  <li>
    <% link_to '#', class: 'lang__item' do %>
      <%= image_tag 'icons/ico_uk.png', alt: 'UK' %>
    <% end %>
  </li>
</ul>
