<!-- Main Nav -->
<ul class="main-nav nav navbar-nav">
  <li class="main-nav__item">
    <%= link_to 'Chi siamo', '#who-link', class: 'main-nav__link', id: 'who-tab' %>
  </li>
  <li class="main-nav__item">
    <%= link_to 'Come funziona', '#work-link', class: 'main-nav__link', id: 'work-tab' %>
  </li>
  <li class="main-nav__item">
    <%= link_to 'Notizie + Eventi', '#news-link', class: 'main-nav__link', id: 'news-tab' %>
  </li>
</ul>
