<!-- Main Nav -->
<ul class="menu main-nav nav navbar-nav">
  <li class="menu__item">
    <%= link_to 'Chi siamo', '#who-link', class: 'menu__link' %>
  </li>
  <li class="menu__item">
    <%= link_to 'Come funziona', '#howwork-link', class: 'menu__link' %>
  </li>
  <li class="menu__item">
    <%= link_to 'Notizie + Eventi', '#events-link', class: 'menu__link' %>
  </li>
</ul>
