<!-- Mobile Nav -->
<button type="button" class="navbar-mobile navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-mobile" aria-expanded="false">
  <span class="sr-only">Toggle navigation</span>
  <span class="fa fa-bars"></span>
</button>
