<div class="badge badge-advertising">
  <h3 class="text-uppercase badge-advertising__text">
    <%= text %>
  </h3>
  <%= link_to link_text, link, class: 'btn text-uppercase badge-advertising__link' %>
</div>
