<div class="badge badge-advertising">
  <h3 class="text-uppercase badge-advertising__title">
    Non sei<br>
    ancora una<br>
    <span class="highlighted">startup?</span>
  </h3>
  <%= link_to 'clicca qui', '#', class: 'btn text-uppercase badge-advertising__link' %>
</div>
