<div class="step text-center">
  <div class="step__icon">
    <%= image_tag "icons/#{icon}.png", alt: 'icon' %>
  </div>
  <header>
    <h3 class="step__title">
      <%= title %>
    </h3>
    <h4 class="step__subtitle">
      <%= subtitle %>
    </h4>
  </header>
  <p class="step__description">
    <%= description %>
  </p>
</div>
