<section id="contact-steps" class="section-padding">
  <div class="container">
    <p class="text-center text">Unisciti a StartUp4You, crea il profilo della tua startup e trova<br>
    opportunità per far crescere il tuo business.</p>
    <% data.contact_steps.steps.each do |step| %>
      <div class="col-md-3 col-sm-6">
        <%= partial('partials/shared/step',
            locals: {
              icon: step.icon,
              title: step.title,
              subtitle: step.subtitle,
              description: step.description
            }
          )
        %>
      </div>
    <% end %>
    <div class="text-center col-xs-12">
      <%= partial('partials/shared/btn',
          locals: {
            link: '#',
            classes: 'text-uppercase btn-shared btn-shared--blue btn-lg',
            text_link: 'TROVA OPPORTUNITà',
            icon: 'fa fa-angle-right'
          }
        )
      %>
    </div>
  </div>
</section>
