<section id="facts">
  <div class="container">
    <div class="col-xs-4">
      <%= partial('partials/shared/fact',
          locals: {
            title: '1550+',
            text: 'Startup'
          }
        )
      %>
    </div>
    <div class="col-xs-4">
      <%= partial('partials/shared/fact',
          locals: {
            title: '40+',
            text: 'Partners'
          }
        )
      %>
    </div>
    <div class="col-xs-4">
      <%= partial('partials/shared/fact',
          locals: {
            title: '100+',
            text: 'Aziende'
          }
        )
      %>
    </div>
  </div>
</section>
