<section id="facts" class="section-padding">
  <div class="container">
    <% data.facts.items.each do |fact| %>
      <div class="col-xs-4">
        <%= partial('partials/shared/fact',
            locals: {
              title: fact.title,
              text: fact.text
            }
          )
        %>
      </div>
    <% end %>
  </div>
</section>
