<footer id="footer" class="section-padding">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-5 col-md-7">
        <div class="box-talentyon clearfix">
          <div class="box-talentyon__logo">
            <%= image_tag 'talentyon_logo.png' %>
          </div>
          <div class="box-talentyon__text hidden-sm">
            Your gateway to the brightest<br>
            minds in analytics
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-7 col-md-5">
        <p class="box-talentyon__contacts">
          Puedes contactar con talentyon por <a href="">e-mail</a> o llamando al<br>
          +34 654 698 321 <a href="">Aviso legal</a>  |  <a href="">Condiciones generales</a>
        </p>
      </div>
    </div>
  </div>
</footer>
