<section id="slide">
  <div class="container relative">
    <%= partial "partials/shared/badge" %>
    <%= partial("partials/shared/slogan",
        locals: {
          title: '#STARTUP4YOU',
          description: 'Il luogo dove la tua azienda incontra le migliori startup. Per fare Innovazione.' 
        }
      )
    %>
  </div>
</section>
