.thumb-brand{
  border-radius: 0;
  padding-top: 10px;
  @include solid-border(1px, #cccccc);
  background-color: white;
  &__title{
    @include font-face(18px, $main-color);
    font-family: "SegoeUI-SemiBold";
  }
  &__image{
    border-bottom: 1px dotted #cccccc;
    margin: 0 10px;
    img{
      padding-bottom: 10px;
    }
  }
  &__description{
    @include font-face(14px, black);
    font-family: "SegoeUI-SemiBold";
  }
}
