.lang{
  .lang__item{
    padding: 10px;
    @include transition(all 0.3s ease-in);
  }
  @include respond-to(max-width, 768px) {
    text-align: center;
  }
  & > li{
    @include respond-to(max-width, 768px) {
      float: left;
    }
  }
}
