.secondary-nav{
  padding-right: 20px;
  &__item{
    @include respond-to(max-width, 768px) {
      text-align: center;
    }
  }
  .secondary-nav__link{
    @extend %nav;
    font-size: 12px;
    @include respond-to(max-width, 995px) {
      padding: 10px;
    }
  }
  @include respond-to(max-width, 995px) {
    padding-right: 0;
  }
}
